In [1]:
import pandas as pd

In [2]:
recipes = pd.read_csv('files/recipes.csv')

In [3]:
reviews = pd.read_csv('files/reviews.csv')

In [11]:
sampled_recipes = recipes.sample(frac=0.33)

In [12]:
sampled_recipes.shape

(74346, 12)

In [13]:
sampled_recipes.to_csv('files/sampled_recipes.csv',index=False)

In [14]:
sampled_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
64441,crock pot sweet potatoes with apricot pie filling,289329,435,590105,2008-02-29,"['course', 'main-ingredient', 'cuisine', 'prep...","[275.3, 8.0, 122.0, 13.0, 5.0, 18.0, 18.0]",4,['place potatoes in a 3-1 / 2 to 4 quart crock...,my mother thinks this sounds like the recipe s...,"['sweet potatoes', 'garlic cloves', 'apricot f...",8
48212,chocolate chex caramel crunch,326622,15,161163,2008-09-22,"['15-minutes-or-less', 'time-to-make', 'course...","[103.0, 7.0, 50.0, 2.0, 0.0, 16.0, 4.0]",15,"['into large microwavable bowl , measure cerea...",caramelly goodness surrounds crunchy chocolate...,"['chocolate chex', 'brown sugar', 'butter', 'l...",6
5672,another vegan banana bread,381275,75,1320621,2009-07-13,"['time-to-make', 'course', 'preparation', 'bre...","[106.5, 5.0, 64.0, 13.0, 0.0, 2.0, 6.0]",6,"['preheat oven to 350f', 'mash bananas in bowl...",this is a deliciously spicy and moist vegan ba...,"['mashed bananas', 'kamut flour', 'sugar', 've...",10
169255,ricotta and pesto meatloaf,186989,75,340503,2006-09-20,"['time-to-make', 'course', 'main-ingredient', ...","[449.3, 43.0, 24.0, 18.0, 65.0, 61.0, 5.0]",4,['knead first 3 ingredients together and then ...,"for anyone who knows me, i am a pesto fanatic....","['ground beef', 'ricotta cheese', 'basil pesto...",5
13240,baked cabbage soup,197989,70,367022,2006-11-28,"['time-to-make', 'course', 'preparation', 'occ...","[359.9, 32.0, 31.0, 36.0, 46.0, 59.0, 6.0]",6,"['in a pot , saute chopped cabbage , and cook ...",an easy way to make every day ingredients into...,"['bacon fat', 'cabbage', 'whole wheat bread', ...",6

In [19]:
reviews.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [20]:
ids = sampled_recipes['id'].unique()

In [22]:
sampled_reviews = reviews[reviews['recipe_id'].isin(ids)]

In [23]:
sampled_reviews.shape

(363415, 5)

In [24]:
len(sampled_reviews.merge(sampled_recipes, how='inner', left_on='recipe_id', right_on='id'))

363415